<!---T13 - Sudár Róbert - Angular vizsgafeladat 02 --->

<div class="container">
    <H1>Angulat vizsgafeladat megoldás - 02</H1>

    <div class="form-group">
        <label for="szamInput">Vizsgálandó szám</label>
        <input type="number" id="szamInput" [(ngModel)]="szam" class="form-control">
    </div>

    <button type="button" class="btn btn-primary w-100 my-2" (click)="EredmenyMentese()">Eredmény mentése</button>

    <p *ngIf="hibauzenet" class="text-danger">{{ hibauzenet }}</p>
    <p *ngIf="!hibauzenet">{{ kierteseles }}</p>


    <ul>
        <li *ngFor="let eredmeny of megoldasok" style="list-style-type: circle;">{{ eredmeny }}</li>
    </ul>
</div>


<!---Elkészítéshez szükséges idő (hibakezeléssel együtt): kb 50 perc, anélkül kb 40 perc--->